body {
    font-family: "Montserrat", sans-serif;
}

@keyframes slideIn {
from {
    right: -100%;
}
to {
    right: 0%;
}
}

@keyframes slideOut {
from {
    right: 0%;
}
to {
    right: -100%;
}
}

.slide-enter {
animation: slideIn .5s forwards;
}

.slide-exit {
animation: slideOut .5s forwards;
}

.toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.toast {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-top: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}